article p {
    text-align: center;
    font-size: 1.2rem;
    color: #0e2431;
    padding-bottom: 20px;
}

.seccionCines, .seccionApps, .seccionRecomendaciones {
    cursor: pointer;
    border: 1px solid #0e2431;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  

.opcionesCines, .opcionesApps {
    display: none;
}
  

.seccionCines.activo .opcionesCines,
.seccionApps.activo .opcionesApps,
.seccionRecomendaciones.activo{
    display: block;
}


  .seccionCines.activo .opcionesCines {
    display: flex;
    justify-content: space-between;
  }
  

  .seccionApps.activo .opcionesApps {
    display: flex;
    justify-content: space-between;
  }


    .tarjeta {
      width: 30%; 
      margin-bottom: 20px; 
      box-sizing: border-box; 
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      align-items: center;
      display: flex; 
      flex-direction: column; 
    }
    
    .tarjeta img {
      width: 100%;
      max-width: 200px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .tarjeta h3 {
      font-size: 1rem; 
      margin-bottom: 5px;
      text-align: center;
    }
    
    .tarjeta p {
      font-size: 0.8rem; 
      text-align: center;
    }

      .apps {

        overflow: hidden;
        transition:0.8s ease;
    }
  
 .apps:hover{
    transform: scale(1.04);
 }
 

